*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scene{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(#111425,#3751e0); */
    /* background: linear-gradient(to bottom, #090401 50%,#4B1D06 100%); */
    /* background: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%); */
    /* background: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%); */
    background-attachment: fixed;
    overflow: hidden;

    background: linear-gradient(-120deg, #000000,#2b0f0f, #5e220e, #1a3958, #1e528e);
	background-size:  400%;
}
.gradient{
	animation: gradient 70s ease ;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 100%;
	}
}
/* @keyframes animateBg {
    0% {
      background: #3d3d3d;
      background: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#9da671 100%); 
    }
    20% {
      background: #ced8e4;
      background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%); 
    }
    40% {
      background: #1e81f3;
      background: linear-gradient(#111425,#3751e0);
      background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%);  

    }
    60% {
      background: #ff7842;
      background: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%);
    }
    80%{
        background: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%);
    }
    100% {
      background: #3d3d3d;
      background: linear-gradient(to bottom, #090401 50%,#4B1D06 100%);

    }
  } */
ul{
    margin-top: 90px;
}
.buttons{
    margin: 10px 0px;
    border: none!important;
    outline: none!important;
    position: absolute;
    z-index: 99999999999;
}

.buttons i {
    position: relative; 
    top: 0;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(160, 160, 160)!important;
    background-color: rgb(0, 0, 0);
    cursor: pointer; 
    transition: all .2s ease-in;
}
  
.buttons i:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.buttons i:hover {
    background-color: #fff; 
}

.buttons i:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.buttons i:hover {
    color: #111;
}
.key{
    animation: vibrate .6s ease-in-out infinite alternate;
}
.light{
    animation: vibrate .6s ease-in-out 8 alternate;
    animation-delay: 13s;
}
@keyframes vibrate{
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(1.3);
    }

}
/* .moon{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: 999;
}
.moon::after{
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425,#3751e0);
    background-attachment: fixed;
    /* animation: animateBg 35s ease-in; */
} */
.forest{
    position: absolute ;
    bottom:0px;
    background-repeat: repeat-x;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.surface{
    height: 140px;
    width: 5000%;
    background: url(images/road.png);
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
    z-index: 9999;
}
.car
{
    position: absolute;
    bottom: 6%;
    left: 24%;
    z-index: 999999;
}
.vehicle{
    content: url(images/car1.png);
}
.vehicle2{
    content: url(images/car2.png);
}
.scene i{

    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(0);
    } 
    10%,90%{
        opacity: 1;
    } 
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
    
}
.cloud1{
    position: absolute;
    top: 0;
    left: 0;
    max-width:600px;
    z-index: 10000;
    animation: cloud 100s linear infinite;
}
.cloud2{
    position: absolute;
    top: 0;
    left: 0;
    max-width:500px;
    z-index: 10000;
    animation: cloud 85s linear infinite;
}
.cloud3{
    position: absolute;
    top: 0;
    left: 0;
    max-width:600px;
    z-index: 10000;
    animation: cloud 130s linear infinite;
}
.cloud4{
    position: absolute;
    top: 200px;
    left: 0;
    max-width:300px;
    z-index: 10000;
    animation: cloud 120s linear infinite;
    animation-delay: -20s;
}
.cloud5{
    position: absolute;
    top: 150px;
    left: 0;
    max-width:500px;
    z-index: 10000;
    animation: cloud 90s linear infinite;
    animation-delay: -5s;

}
.cloud6{
    position: absolute;
    top: 75px;
    left: 0;
    max-width:400px;
    z-index: 10000;
    animation: cloud 80s linear infinite;
    animation-delay: -10s;

}
@keyframes cloud{
    0%{
        transform: translateX(400%) scale(1.5);
    }
    100%{
        transform: translateX(-100%) scale(1);
    }
}
.moveRight{
    animation: moveRight 10s linear infinite;
    animation-delay: 2s;
}
.moveFast{
    animation: moveRight 5s linear infinite;  
    animation-delay: .5s;
}
.movevFast{
    animation-duration: 2s;
}
.suspension{
    animation: suspension 1s linear infinite;
}
@keyframes moveRight{
    100%{
        transform: translateX(-2950px);
    }
}

@keyframes suspension{
    100%{
        transform:translateY(-1px);
    }
    50%{
        transform:translateY(2px);
    }
    0%{
        transform:translateY(-1px);
    }
}

@media(max-width:900px){
    @keyframes cloud{
    0%{
        transform: translateX(300%) scale(1.5);
    }
    100%{
        transform: translateX(-100%) scale(1);
    }
}
}
@media(max-width:495px){
    .moon{
        left: 100px;
    }
    @keyframes cloud{
    0%{
        transform: translateX(190%) scale(1.5);
    }
    100%{
        transform: translateX(-100%) scale(1);
    }
    
   }
   .cloud1,.cloud3,.cloud5{
        max-width: 150px;
    }.cloud2,.cloud4,.cloud6{
        max-width: 250px;
        
    }
}

