body{
    margin:0;
    padding: 0;
    overflow-y: hidden ;
    background-color: black;
}
ul{
    list-style: none;
}
.buttons{
    display: none!important;
    margin: 10px 0px;
    border: none!important;
    outline: none!important;
}

.buttons i {
    position: relative; 
    top: 0;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(160, 160, 160)!important;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
}
  
.buttons i:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.buttons i:hover {
    background-color: #fff; 
}

.buttons i:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.buttons i:hover {
    color: #111;
}
.night{
    height: 95vh;
    width: 100vw;
    margin: 0 auto;
    border: 1px black solid;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.1)), url(images/bg3.jpg);
    background-size: cover ;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}
.vehicle{
    content: url(images/car1.png);
}
.vehicle2{
    content: url(images/car2.png);
}
.slide{
    animation: slide 200s linear infinite;
    animation-delay: 2s;
}
.slideFast{
    animation: slide 100s linear infinite;
    animation-delay: 2s;
}
@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -4000px 0; }
}

.surface{
    height: 140px;
    width: 5000%;
    background: url(images/road.png);
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
    z-index: 9999;
}
.car
{
    position: absolute;
    bottom: 7%;
    left: 24%;
}
.moveRight{
    animation: moveRight 10s linear infinite;
    animation-delay: 2s;
}
.moveFast{
    animation: moveRight 2s linear infinite;  
    animation-delay: 1s;
}

.suspension{
    animation: suspension 1s linear infinite;
}
@keyframes moveRight{
    100%{
        transform: translateX(-2950px);
    }
}

@keyframes suspension{
    100%{
        transform:translateY(-1px);
    }
    50%{
        transform:translateY(2px);
    }
    0%{
        transform:translateY(-1px);
    }
}
@media(max-width:700px){
    body{
        height: 100vh;
    }
    .surface{
        bottom: 0;
        width: 99999999999%;
    }
    .buttons{
        display: flex!important;
    }
    .moveRight{
        animation: moveRight 10s linear infinite;
        animation-delay: 0!important;
    }
    .moveFast{
        animation: moveRight 3s linear infinite;  
        animation-delay: 1s;
    }
    .slide{
        animation: slide 200s linear infinite;
        animation-delay: 0s;
    }
    .slideFast{
        animation: slide 80s linear infinite;
        animation-delay: 0s;
    }
}